@import "variables";
@import "utils";
@import "buttons";
@import "grid";
@import "card";
@import "form";
@import "popup";

html {
  font-size: 10px;
}

body {
  font-family: Nunito, sans-serif;
  font-size: 1.6rem;
  color: #333333;
  font-weight: normal;
}
